[submodule "content"]
	path = content
	url = git@github.com:matt2ology/tech-journal-and-blog.git
	branch = main
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
